<table border ="0" style="vertical-align:top">
	<tr>
		<td>
			<span>Categories</span>
			<ul>
			{% for item in attribute(array, 0) %}
				<li><a href="{{path('myspace_bookmark_category',{'catid':item.id})}}">{{ item.name }}({{ item.bookmarks | length }})</a></li>
			{% endfor %}
			</ul>
		</td>
		<td style="vertical-align:top;">
			<span>Tags</span>
			<ul>
			{% for item in attribute(array, 1) %}
				<li><a href="{{path('myspace_bookmark_tag',{'tagid':item.id})}}">{{ item.name }}({{ item.bookmarktags | length }})</a></li>
			{% endfor %}
			</ul>
		</td>
	</tr>
</table>