<ul>
{% for item in data %}
	<li><img src="{{item.icon}}"> <a href="{{path('bookmark_detail',{'bookmarkid':item.id})}}"> {{item.title}}</a> Category <a href="{{path('category_detail',{'catid':item.id})}}">{{item.category.name}}</a></li>
{% endfor %}
</ul>