<p><a href="{{path('category_detail',{'catid':bookmark.category.id})}}">Back to category ({{bookmark.category.name}})</a></p>
<ul>
	<li><a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a></li>
</ul>
<p>Tags:</p>
<p>
<ul>
{% for item in bookmark.bookmarktags %}
	<li><a href="{{path('tag_detail',{'tagid':item.tag.id})}}">{{ item.tag.name }}</a>({{ item.tag.bookmarktags | length }})</li>
{% endfor %}
</ul>
</p>